/* Background Image for the Body */
.body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(8, 3, 34, 0.8)), url(/ai-generated-portrait-of-a-smiling-schoolgirl-using-laptop-in-classroom-at-school-photo\ \(1\).jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 300px;
}

/* Logo Image */
.logo img {
  width: 100px;
  height: auto;
}

/* Navbar Custom Styles */
.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 18px;
}

.navbar-toggler {
  position: absolute;
  right: 0;
}

/* Heading Section */
.display-1 {
  font-weight: bold;
}

.text-muted {
  font-style: italic;
}

.text-center p {
  font-size: 18px;
  font-family: 'Georgia', Times, serif;
}

/* Icon Section */
i {
  color: #525151;
  margin-left: 10px;
  margin-right: 10px;
}

/* Footer Section */
.container {
  font-family: Arial, sans-serif;
}
