  <section class="min-vh-100 gradient-form " style="background-color: #eee;">
  <div class="container py-5  ">
    <div class="row d-flex justify-content-center align-items-center mt-5 ">
      <div class="col-xl-11">
        <div class="card   ">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4 rounded-3">

                <div class="text-center">
                  <!-- <img src="/campus-education-logo.avif" 
                     style="width: 140px;" alt="logo"> -->
                  <img src="cap2.png" style="width: 140px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-2">CampusSphere - Student Management System</h4>
                </div>

                <form >

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example11"><i class="bi bi-envelope-fill"></i> E-Mail</label>
                    <input type="email" id="form2Example11" class="form-control" placeholder="Enter Your E-Mail "
                      formControlName="email" />
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form2Example22"><i class="bi bi-key-fill"></i> Password</label>
                    <input type="password" id="form2Example22" class="form-control" placeholder="Enter Password"
                      formControlName="password" />
                    <!-- Error Message -->
                    <div 
                      class="text-danger">
                      Password must be at least 6 characters long.
                    </div>
                  </div>

                  <div class="text-center pt-1  mb-5 pb-1 d-flex flex-column justify-content-evenly">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-block mb-2 mt-5"
                      type="submit" (ngSubmit)="onSubmit()" [disabled]="loginForm || isLoading">
                      {{ isLoading ? 'Logging in...' : 'Log in' }}</button>
                    <a class="text-muted mb-1 mt-2" [routerLink]="['/forgotPassword']" >Forgot password?</a>
                  </div>
                  <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>