<div style="margin: 0;">
    <header class="header" id="header">
       <div class="header__container">
         
 
         <button class="header__toggle" id="header-toggle" (click)="toggleCollapse()">
            <i class="ri-menu-line"></i>
         </button>
<!--          
         <button class="header__toggle" id="header-toggle" (click)="toggleCollapse()">
          <i class="bi bi-bell-fill"></i>
       </button> -->

       <div class="nav-icons">
         <!-- Notification Bell -->
         <button class="header__notification" id="header-toggle" (click)="toggleCollapse()">
            <span class="notification-indicator">1</span>
           <i class="bi bi-bell-fill"></i>
         </button>
       
         <!-- Profile Image -->
         <div class="sidebar__img">
           <img [src]="imageUrl" alt="Profile Image" id="profileImage">
           <span class="status-indicator"></span>
         </div>
       </div>
       
          
       </div>
    </header>
 
    <nav class="sidebar" id="sidebar">
       <div class="sidebar__container">
          <div class="sidebar__user">
             <div class="sidebar__img">
                <img  alt="Profile Image" id="profileImage">
             </div>
 
             <div class="sidebar__info">
                <h2>iofoq</h2>
                <span></span>
             </div>
          </div>
 
          <div class="sidebar__content">
             <div class="sidebar__list">
                <a  
                   class="sidebar__link ">
                   <i class="ri-pie-chart-2-fill"></i>
                   <span>Profile</span>
                </a>
 
                <a routerLinkActive="active-link" class="sidebar__link">
                   <i class="ri-pie-chart-2-fill"></i>
                   <span>Dashboard</span>
                 </a>
         
 
                <a  class="sidebar__link" id="levetemppp">
                   <i class="ri-wallet-3-fill"></i>
                   <span>Leaves</span>
                </a>
 
 
                <a  class="sidebar__link " id="Leavetemp"
                  >
                   <i class="ri-wallet-3-fill"></i>
                   <span>Leaves</span>
                   <i class="ri-arrow-down-s-line dropdown-icon"></i>
                </a>
 
 
                <a>
                   <ul class="dropdown-menu" >
                      <li><a class="sidebar__link">Apply Leave</a></li>
                      <li><a  class="sidebar__link">Leave
                            History</a></li>
                   </ul>
 
                </a>
 
                <a href="#" class="sidebar__link">
                   <i class="ri-calendar-fill"></i>
                   <span>Calendar</span>
                </a>
 
                <!-- <a href="#" class="sidebar__link">
                   <i class="ri-settings-3-fill"></i>
                   <span>Settings</span>
                </a> -->
 
                <!-- <a href="#" class="sidebar__link">
                   <i class="ri-notification-2-fill"></i>
                   <span>Notifications</span>
                </a> -->
             </div>
          </div>
 
          <div class="sidebar__actions">
             <!-- <button>
              <i class="ri-moon-clear-fill sidebar__link sidebar__theme" id="theme-button">
                 <span>Theme</span>
              </i>
           </button> -->
 
             <button class="sidebar__link" >
                <i class="ri-logout-box-r-fill"></i>
                <span>Log Out</span>
             </button>
          </div>
       </div>
    </nav>
 
    <main class="main" id="main" style="background-color: #f5f6f8;">
       <!-- <router-outlet></router-outlet> -->

       <div class="box">Box 1</div>
<div class="box">Box 2</div>

    </main>
 </div>